extends layout

block content
    article
        header 
            h1=title
        section
            .row.row-cols-1.row-cols-md-3.g-4
                each hike in hikes
                    .col
                        include ./partials/hikeItem.pug